{% extends 'base.html.twig' %}

{% block title %}Tworzenie...{% endblock %}

{% block body %}
    <h1>Tworzenie nowego artykułu</h1>

    {{ include('categoryy/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('main') }}">Powrót</a>
{% endblock %}
