{% extends 'base.html.twig' %}



{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div> 
{% endfor %}
<h2>Tworzenie artykułu </h2>
    {{form(form)}}
{% endblock %}
